ENVIRONMENT=testing
PYTHONPATH=/usr/src/fastapi

MAILHOG_USER=test
MAILHOG_PASSWORD=test_password

MAIL_SERVER=mailhog-cinema-test
MAIL_PORT=1025
MAIL_USERNAME=testuser
MAIL_PASSWORD=test_password
MAIL_FROM=test@email.com
MAIL_FROM_NAME='Test User'
MAIL_STARTTLS=False
MAIL_SSL_TLS=False

MINIO_HOST=minio-cinema-test
MINIO_PORT=9000
MINIO_ROOT_USER=testuser
MINIO_ROOT_PASSWORD=test_password
MINIO_STORAGE=cinema-storage-test
MINIO_USE_SSL=false

STRIPE_PUBLISHABLE_KEY=<stripe_publis_key>
STRIPE_SECRET_KEY=<stripe_secret_key>

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0